@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  /* font-family: "DM Sans", sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* hide the ones not needed */

.scrollable-section {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.scrollable-section::-webkit-scrollbar {
  width: 0rem;
  /* You can adjust the width as needed */
}

::-webkit-scrollbar,
scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  background: #08382c;
  border-radius: 1rem;
}

.link:after {
  display: block;
  content: '';
  width: inherit;
  border-bottom: solid 3px #FF7400;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
}

.link.from-left:after {
  transform-origin: left;
}

.link.from-right:after {
  transform-origin: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}