@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  /* font-family: "DM Sans", sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* hide the ones not needed */

.scrollable-section {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollable-section::-webkit-scrollbar {
  width: 0rem; /* You can adjust the width as needed */
}

::-webkit-scrollbar,
scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  background: #08382c;
  border-radius: 1rem;
}

.link:after {
  display:block;
  content: '';
  width: inherit;
  border-bottom: solid 3px #FF7400;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.link:hover:after { transform: scaleX(1); }

.link.from-left:after {
  transform-origin: left;
}

.link.from-right:after {
  transform-origin: right;
}

input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
               -webkit-appearance: none;
                margin: 0;
        }
 
        input[type=number] {
            -moz-appearance: textfield;
        }
